/* Whole document defaults */
body {
	margin:0;
	padding:0;
	background:#fff;
	font: 12px Verdana, Helvetica, sans-serif;
	color: #09385b;
	line-height: 130%; 
}
a{
    color: #09385b;
    font-weight: bold;
}
a:active {
	outline: none;
}
a:hover {
	color:#CC9933;
	text-decoration: underline;
	outline: none;
}
a img {
	border: 0;
}

/* Contains the header */
#header {
	background: #3275a7 bottom repeat-x;
	margin: 0;
	height: 68px;
	padding: 0;
}
/* Just the title */
#header a {
	color: #DCB20C;
	text-decoration: none;
}

#headerstrip {
	background: #09385b;
        margin: 0;
        height: 8px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#header h1 {
	height: 64px;
	margin:0 0 0 10px;
	padding:0;
}

#header h1 a {
	position: relative;
	display: inline;
	top: 10px;
	margin: 0 0 0 10px;
	height: 55px;
}

/* Contains all the useful content */

#main {
	margin:0px 10px 10px 10px;
	background: transparent;
	padding: 10px 10px 20px 15px;
	float: left;
}
#main h1 {
    margin-bottom: 1em;
	padding: 0 0 0 0;
}
#main h2 {
    margin-bottom: 1em;
	padding: 0 0 0 0;
}
#main h3 {
    margin-bottom: 1em;
	padding: 0px 0 0 0;
}
#main label{
	font-size: 0.9em;
	cursor: pointer;
}
#main p {
	margin:0;
	padding: 10px 0 5px 0;
	line-height: 150%;
}

#photo{
    padding: 5px 5px 5px 5px;
    background: #09385b;
    color: white;
    float:right;
    text-align:center;
    border: 1px solid black;
}
#photo p{
    padding: 0;
}
/* Footer at the bottom of the page */

#footer {
	margin:0;
	padding-left:20px;
	border-top: 1px solid black;
	clear: both;
	font-size: 0.8em;
	background: #09385b;
	color: white;
}
#footer a {
	color: #fff;
}

/* Nav helps build the tabbed list at the top */
#nav {
	font-size: 0.9em;
	margin: 0;
	float: left;
	margin: 0;
	position: absolute;
	top: 48px;
	left: 15px;
}
#nav ul {
	margin:0;
	padding:0;
	list-style:none;
	}


#nav li {
	display:inline;
	margin:0 2px 0 0;
	padding:0;
	}


#nav a {
	float:left;
	margin:0 1px 0 0;
	padding:0 0 0 2px;
        text-decoration:none;
	color: #fff;
	}

#nav span.foo{
	font-weight: bold;
	margin-right:25px;
}

#nav span a, #nav span #current {
	float:left;
	display:block;
	padding:3px 9px 3px 6px;
	}


#nav #current a {
	background: #09385b;
	}

#nav #current a span, #nav #current span {
	padding-bottom:3px;
	color:#fff;
	}

#nav a:hover span {
	color: #fff;
	}

#nav #current a:hover span {
	color: #fff;
}

/* Pubs marks an area of the document where list items are spaced widely */
/* (Used to space separate publications in <ul>) */

#pubs li {margin-top: 12px;}

tr.stripe1 {
	background-color: #eeeeee;
}
tr.stripe2 {
	background-color: white;
}


